
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;700&display=swap');

/* the fonts */
:root {
  font-size: 100%;
}
body {
  font-family: Roboto, sans-serif;
}
header p:nth-child(1) {
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 1.625rem;
}
header p:nth-child(2) {
  font-size: 0.875rem;
}
main {
  font-size: 0.875rem;
  font-weight: bold;
}
main p.hype-category {
  font-family: "Roboto Condensed", sans-serif;
}

/* font properties */
header {
  text-align: center;
  color: rgb(32, 32, 32);
}
main p.hype-category {
  text-transform: uppercase;
  color: rgb(118, 118, 118);
  letter-spacing: 1px;
}
main a {
  text-decoration: none;
  line-height: 1.1;
  color: rgb(21, 21, 21);
}
main a:focus {
    outline: 3px solid #E6B130;
}
main a:hover {
    color: #E61A1A;
}
