body { font-size: 0.875rem;
}

p {  
}

header :nth-child(2){font-family: 'Roboto';
    font-size: 0.875rem;
    font-stretch: normal;
font-weight: normal;}

main a{
    text-decoration-line: none; 
}

.hype{font-family: 'Roboto Condensed';
    font-weight:bold;
    font-size: 1.625rem;
    text-align: center;
    
    color: rgb(32,32,32);
}

.hype-category{font-family: 'Roboto Condensed';
    font-weight:bold;
    font-size: 0.875rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgb(118,118,118);
}

.description{color:rgb(21,21,21);
    font-family: 'Roboto';
    font-weight:bold;
    font-size: 0.875rem;
    line-height: 1.1;
}

#id {
    
}

