@font-face {
    font-family: 'Segoe UI Historic';
    src: url("/fonts/Segoe ui historic.ttf");
}

:root{font-family: 'Segoe UI Historic',sans-serif;
    font-size: 16px;
    --color-black:rgb(5,5,5);
    --color-grey:rgb(101,103,107);
}

.post {    
    max-width: 500px;
    margin: auto;
    border: 1px black solid;
    font-size: 15px;
    color: var(--color-black);
  }
  .icon_user, .icon_verified, .icon_public,
  .social-bar-stats img, .social-bar-react img{
    width: 30px;
  }

.post h2{font-weight: bold;
}
.post

.post-description{
  line-height: 20px;
}
.post a.link-to-page h3{
  font-weight: normal;
}

header p{
  line-height: 20px;
  font-size: 13px;
  color: var(--color-grey);
}

h3{
    font-size: 13px;
}

a{
  color: var(--color-black);
  text-decoration-line: none; 
}
.title{
  font-size: 17px;
  font-weight: bold;
}
.social-bar-stats span{
  color: var(--color-grey);
  font-size: 14px;
}
.social-bar-react span {
  font-size: 15px;
  font-weight: bold;
color: var(--color-grey);
}
.comments p {
  font-weight: bold;}
.comments span { font-size: 12px;}
